In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import copy

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [4]:

from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:


from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression as CustomLogisticRegression

In [6]:

data = pd.read_csv(r'kc_house_data.csv')

data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:

data.fillna(0, inplace=True)
Y_org = copy.deepcopy(data["price"])
data = data.drop(columns = ["price"])
data = data.drop(columns = ["date"])
lrm = linear_model.LinearRegression()
x_train, x_test,y_train, y_test = train_test_split(data,Y_org,test_size = 0.2)

In [8]:
lrm.fit(x_train,y_train)
print(lrm.score(x_train,y_train))
print(lrm.score(x_test,y_test))

0.6955217020603184
0.7167380139289514

In [9]:
rig = linear_model.Ridge(0.01)
rig.fit(x_train,y_train)
print(rig.score(x_train,y_train))
print(rig.score(x_test,y_test))

0.6955217018650142
0.7167375848207588

C:\Users\Sebastain\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.97087e-26): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T